<%- include("includes/htmlTop") %>

	<head>
		<%- include("includes/headContent") %>
	</head>

	<body>
		<%- include("includes/header") %>
		<main class="main">
			<h1 class="h1"><%= title %></h1>
			<div class="spacer spacer--vertical spacer--sm"></div>
			<h2 class="h2"><%= error.name %>&nbsp;</h2>
			<div class="spacer spacer--vertical spacer--sm"></div>
			<p><%= error.message %></p>
			<div class="spacer spacer--vertical spacer--lg"></div>
			<div class="flex flex--wrap gap-sm">
				<% if (error.statusCode === 400) { %>
					<button
						onclick="history.back()"
						class="button button--primary"
					>
						Retour
					</button>
				<% } else { %>
					<a href="/" class="button button--primary">Retour à la page d'accueil</a>
				<% } %>
			</div>
		</main>
	</body>
	
<%- include("includes/htmlBottom") %>