<%- include("includes/htmlTop") %>

	<head>
		<%- include("includes/headContent") %>
		<link rel="stylesheet" href="/styles/messages.css">
	</head>

	<body>
		<%- include("includes/header") %>
		<main class="main">
			<h1 class="h1"><%= title %></h1>
			<div class="spacer vertical xl"></div>
			<section class="messages">
				<% for (const message of messages) { %>
					<% const fromCurrentUser = locals.user && user.id === message.user.id %>
					<article
						class="message <% if (fromCurrentUser) { %>message--from-current-user<% } %>"
						<% if (message.user?.color) { %>
							style="--msg-col: <%= message.user.color %>"
						<% } %>
					>
						<div class="message__author">

							<figure class="message__picture-container">
								<% if (locals.user && message.user.photo_url) { %>
									<img
										class="message__picture message__picture--image"
										src="<%= message.user.photo_url %>"
										alt="<%= message.user.surname %> <%= message.user.name %>"
									/>
								<% } else { %>
									<i class="message__picture message__picture--icon fas fa-user"></i>
								<% } %>
							</figure>

							<div class="message__author-name text-truncate text-truncate--2">
								<% if (locals.user) { %>
									<%= `${message.user.surname} ${message.user.name.toUpperCase()}` %>
								<% } else { %>
									???
								<% } %>
							</div>
						</div>
						<div class="message__bubble">
							<div class="message__date">Envoyé le <%= locals.displayDate(message.date)%> à <%= locals.displayHour(message.date) %></div>
							<div class="message__text"><%= message.text %></div>
						</div>
					</article>
				<% } %>

				<% if (locals.user) { %>
					<section class="flex column align-center gap-xxs">
						<div class="spacer vertical lg"></div>
						<% if (user.membershipStatus.slug === "unvalidated") { %>
							<h2 class="h3 text-center">Vous devez valider votre compte<br />avant de pouvoir envoyer un message</h2>
							<div class="spacer vertical sm"></div>
							<a class="button" href="/my-account/validate">Valider mon compte</a>
						<% } else { %>
							<h2 class="h2">Envoyer un nouveau message</h2>
							<div class="spacer vertical sm"></div>
							<form class="form" action="/messages/add" method="POST">
								<label class="form-field">
									<span class="form-field__label">Message</span>
									<input class="form-field__input" name="text" required type="text" />
								</label>
								<div class="flex column align-center">
									<button class="button" type="submit">Envoyer</button>
								</div>
							</form>
						<% } %>
					</section>
				<% } %>
				
			</section>

		</main>
	</body>

<%- include("includes/htmlBottom") %>