<% const isUnvalidated = locals.user && user.membershipStatus.slug === "unvalidated" %>

<%- include("includes/htmlTop") %>

	<head>
		<%- include("includes/headContent") %>
		<link rel="stylesheet" href="/styles/messages.css">
	</head>

	<body>
		<%- include("includes/header") %>
		<main class="main">
			<h1 class="h1"><%= title %></h1>
			<div class="spacer spacer--vertical spacer--xl"></div>
			<section class="messages">
				<% for (const message of messages) { %>
					<% const fromCurrentUser = locals.user && user.id === message.user.id %>
					<article
						class="message <% if (fromCurrentUser) { %>message--from-current-user<% } %>"
						<% if (message.user?.color) { %>
							style="--msg-col: <%= message.user.color %>"
						<% } %>
					>
						<div class="message__author">
							<figure class="message__picture-container">
								<% if (locals.user && (!isUnvalidated || fromCurrentUser) && message.user.photo_url) { %>
									<img
										class="message__picture message__picture--image"
										src="<%= message.user.photo_url %>"
										alt="<%= message.user.surname %> <%= message.user.name %>"
									/>
								<% } else { %>
									<i class="message__picture message__picture--icon fas fa-user"></i>
								<% } %>
							</figure>

							<div class="message__author-name text-truncate text-truncate--2">
								<% if (locals.user && (!isUnvalidated || fromCurrentUser)) { %>
									<%= `${message.user.surname} ${message.user.name.toUpperCase()}` %>
								<% } else { %>
									???
								<% } %>
							</div>
						</div>

						<div class="message__bubble">
							<div class="message__date">Envoyé le <%= locals.displayDate(message.date)%> à <%= locals.displayHour(message.date) %></div>
							<div class="message__text"><%= message.text %></div>
							<% if (locals.user?.membershipStatus.slug === "admin") { %>
								<button
									class="message__delete-button button button--circle button--sm button--danger"
									onclick=<%= `openDeleteMessageModal(${message.id})` %>
									title="Supprimer le message"
								>
									<i class="fas fa-times"></i>
								</button>
	
								<dialog id="delete-message-modal-<%= message.id %>" class="modal">
									<h3 class="h3">Êtes-vous sûr de vouloir supprimer ce message&nbsp;?</h3>
									<div class="spacer spacer--vertical spacer--md"></div>
									<p>La suppression sera définitive.</p>
									<div class="spacer spacer--vertical spacer--lg"></div>
									<div class="flex gap-sm justify-center align-center">
										<button class="button button--gray" onclick=<%= `closeDeleteMessageModal(${message.id})`%>>Annnuler</button>
										<form action="/messages/<%= message.id %>/delete" method="POST">
											<button type="submit" class="button button--danger" onclick=<%= `closeDeleteMessageModal(${message.id})`%>>Supprimer</button>
										</form>
									</div>
								</dialog>
							<% } %>
						</div>

					</article>
				<% } %>

				<div>
					<div class="spacer spacer--vertical spacer--lg"></div>
					<% if (locals.user) { %>
						<% if (isUnvalidated) { %>
							<section class="card">
								<h2 class="h3 text-center">Vous devez valider votre compte<br />avant de pouvoir envoyer un message</h2>
								<div class="spacer spacer--vertical spacer--md"></div>
								<div class="flex justify-center">
									<a class="button" href="/my-account/validate">Valider mon compte</a>
								</div>
							</section>
						<% } else { %>
							<section class="flex flex--column justify-center align-center gap-md">
								<h2 class="h2 text-center">Envoyer un nouveau message</h2>
								<form class="form" action="/messages/add" method="POST">
									<label class="form-field">
										<span class="form-field__label">Message</span>
										<input class="form-field__input" name="text" required type="text" />
									</label>
									<div class="flex justify-center">
										<button class="button" type="submit">Envoyer</button>
									</div>
								</form>
							</section>
						<% } %>
					<% } else { %>
						<section class="card">
							<h2 class="h3 text-center">Vous devez être membre<br />pour pouvoir envoyer un message</h2>
							<div class="spacer spacer--vertical spacer--md"></div>
							<div class="flex justify-center">
								<a class="button" href="/my-account/log-in">Connexion</a>
								<a class="button" href="/my-account/sign-up">Inscription</a>
							</div>
						</section>
					<% } %>
				</section>
				
			</section>

		</main>

		<script>
			function openDeleteMessageModal(id) {
				const deleteMessageModal = document.querySelector(`#delete-message-modal-${id}`)
				deleteMessageModal.showModal()
			}
			function closeDeleteMessageModal(id) {
				const deleteMessageModal = document.querySelector(`#delete-message-modal-${id}`)
				deleteMessageModal.classList.add("modal--is-closing")
				setTimeout(() => {
					deleteMessageModal.classList.remove("modal--is-closing")
					deleteMessageModal.close()
				}, 500)
			}
		</script>

	</body>

<%- include("includes/htmlBottom") %>