<!DOCTYPE html>
<html
	lang="fr"
	class="<%= locals.user && "dark-theme" %>"
>

	<head>
		<%- include("includes/headContent") %>
		<link rel="stylesheet" href="/styles/messages.css">
	</head>

	<body>
		<%- include("includes/header") %>
		<main class="main">
			<h1 class="h1"><%= title %></h1>
			<div class="spacer vertical xl"></div>
			<section class="messages">
				<% for (const message of messages) { %>
					<article
						class="message"
						<% if (message.user?.color) { %>
							style="--msg-col: <%= message.user.color %>"
						<% } %>
					>
						<div class="message__author">
							<figure class="message__picture_container">
								<img class="message__picture" src="<%= message.user?.photo_url %>" />
							</figure>
							<div class="message__author_name">
								<%= `${message.user.surname} ${message.user.name.toUpperCase()}` %>
							</div>
						</div>
						<div class="message__bubble">
							<div class="message__date">Envoyé le <%= locals.displayDate(message.date)%> à <%= locals.displayHour(message.date) %></div>
							<div class="message__text"><%= message.text %></div>
						</div>
					</article>
				<% } %>
			</section>
		</main>
	</body>

</html>