<%- include("includes/htmlTop") %>

	<head>
		<%- include("includes/headContent") %>
	</head>

	<body>
		<%- include("includes/header") %>
		<main class="main">
			<h1 class="h1"><%= title %></h1>
			<div class="spacer vertical lg"></div>

			<form class="form" action="" method="POST">

				<label class="form-field">
					<span class="form-field__label">Prénom</span>
					<input class="form-field__input" name="surname" required type="text" />
				</label>

				<label class="form-field">
					<span class="form-field__label">Nom</span>
					<input class="form-field__input" name="name" required type="text" />
				</label>

				<label class="form-field">
					<span class="form-field__label">E-mail</span>
					<input class="form-field__input" name="mail" required type="email" />
				</label>

				<label class="form-field">
					<span class="form-field__label">Mot de passe</span>
					<input class="form-field__input" name="password" required type="password" />
				</label>
				<div class="flex column align-center">
					<button class="button" type="submit">Inscription</button>
				</div>
			</form>

		</main>
	</body>

<%- include("includes/htmlBottom") %>